:root {
  --main-color: #2C3E50;
}
section {
  padding: 30px;
  margin-top: 56px
}
.head {
  text-align: center;
}
.head h2.color_white {
  color: #fff;
}
.head h2.color_black {
  color: var(--main-color);
}
i {
  position: relative;
}
i::after {
  content: '';
  position: absolute;
  left: 35px;
  width: 100px;
  height: 4px;
}
/* i::before {
  content: '';
  position: absolute;
  left: 30px;
  width: 100px;
  height: 4px;
} */
i.color_white {
  color: #fff;
}
i.color_white::after {
  background-color: #fff;
}
i.color_black {
  color: var(--main-color);
}
i.color_black::after {
  background-color: var(--main-color);
}
.head h2 {
  margin-bottom: 15px;
}